<div class="page">

  <app-navbar />

  <main class="file-list-page container">

    <header class="file-list-header">

      <div>
        <h1>Files</h1>
        <p>Your personal files</p>
      </div>

      <button
        class="button button-primary"
        type="button"
      >
        Upload
      </button>

    </header>


    <section class="file-list card">

      <div class="file-list-columns">
        <span>Name</span>
        <span>Size</span>
        <span>Modified</span>
      </div>

      <!-- Files will go here -->

    </section>

  </main>

</div>