<div class="page">

  <app-navbar />

  <main class="file-list-page container">

    <header class="file-list-header">

      <div>
        <h1>Файлы</h1>
        <p>Ваши персональные данные</p>
      </div>

      <div class="file-list-actions">

        <button
          class="button button-primary"
          type="button"
        >
          Загрузить
        </button>

        <button
          class="button button-primary"
          type="button"
        >
          Создать папку
        </button>

      </div>

    </header>


    <section class="file-list card">

      <div class="file-list-columns">
        <span>Название</span>
        <span>Размер</span>
        <span>Изменено</span>
      </div>

      @for (file of files(); track file.id) {
        <app-file-item
          [file]="file"
          (download)="onDownload($event)"
          (delete)="onDelete($event)"
        />
      }

    </section>

  </main>

</div>