<div class="file-item">

  <div class="file-info">

    <div class="file-thumbnail">
      @if (file().thumbnail) {
        <img
          [src]="file().thumbnail"
          [alt]="file().name"
        />
      } @else {
        <span class="file-icon">📄</span>
      }
    </div>

    <span class="file-name">
      {{ file().name }}
    </span>

  </div>

  <span class="file-size">
    {{ file().size }} байтов
  </span>

  <span class="file-date">
    {{ file().modifiedAt }}
  </span>

  <div class="file-actions">

    <button
      class="file-action"
      type="button"
      (click)="download.emit(file())"
    >
      Скачать
    </button>

    <button
      class="file-action file-action-danger"
      type="button"
      (click)="delete.emit(file())"
    >
      Удалить
    </button>

  </div>

</div>