<div class="page">

  <app-navbar />

  <main class="home-content container">

    <section class="welcome">
      <h1>안녕하세요, Максим!</h1>
      <p>Это наше цифровое хранилище :)</p>
    </section>

    <section class="stats">

      <div class="storage-donut card">

        <div class="donut">
          <canvas #storageDonut></canvas>

          <div class="donut-center">
            <strong>{{ usedPercent() }}%</strong>
            <span>занято</span>
          </div>
        </div>

        <ul class="donut-legend">
          <li>
            <span class="dot dot-used"></span>
            Использовано
            <strong>{{ usedSpace() }} GB</strong>
          </li>
          <li>
            <span class="dot dot-free"></span>
            Доступно
            <strong>{{ availableSpace() }} GB</strong>
          </li>
        </ul>

      </div>

    <div class="stat-card card">
      <div class="stat-group">
        <span class="stat-label">Кол-во файлов: </span>
        <span class="stat-value">{{ fileCount() }}</span>
        <span class="stat-secondary">всего файлов</span>
      </div>

      <div class="stat-group">
        <span class="stat-label">Размер жёсткого диска: </span>
        <span class="stat-value">{{ totalSpace() }}</span>
        <span class="stat-secondary">всего места</span>
      </div>
    </div>

    </section>

    <section class="storage-chart card">

      <div class="section-header">
        <div>
          <h2>График использования хранилища</h2>
          <span>За последние 30 дней</span>
        </div>
      </div>

      <div class="chart">
        <canvas #storageChart></canvas>
      </div>

    </section>
  </main>

</div>